.slider-items {
  display: fex;
  align-items: center;
  justify-content: center;
  min-height: 300;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.swiper-button-prev {
  top: 95%;
  left: 50%;
  color: #232323;
  border-radius: 50%;
  border: 1px solid gray;
  width: 35;
  height: 35;
  transition: 350ms;
}

.swiper-button-prev:hover {
  background-color: #3e3e3e;
  color: white;
}

.swiper-button-prev::after {
  font-size: 12px;
}

.swiper-button-next {
  top: 95%;
  right: 50%;
  color: #232323;
  border-radius: 50%;
  border: 1px solid gray;
  width: 35;
  height: 35;
  transition: 350ms;
}

.swiper-button-next:hover {
  background-color: #3e3e4e;
  color: white;
}

.swiper-button-next::after {
  font-size: 12px;
}
