@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* tag's */
  * {
    @apply font-sans text-[#666] font-normal;
  }

    h1,
    h2
   {
    @apply text-gradient;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  a {
    @apply rounded-sm transition-all text-sm;
  }
  p {
    line-height: 1.8;
    letter-spacing: -0.01em;
  }
  section {
    @apply py-5 my-36 lg:my-64 lg:py-10 px-3 md:px-10 xl:px-0 max-w-7xl mx-auto;
  }
  strong,b {
    @apply  text-[#111] font-medium
  }

  /* Tailwind classes */
  .btn {
    @apply !outline-none;
  }
  .btn-primary {
    @apply !bg-[hsla(0,0%,9%,1)] !text-[#fff] !font-medium !border-0;
  }
  .btn-secondary {
    @apply !bg-white !text-[#171717] !font-medium !border-gray-400 hover:!bg-gray-100;
  }
  .modal-box {
    @apply !outline-none;
  }
  .font-semibold {
    @apply text-[#171717]
  }
  /* Custom Classes */
  .text-gradient {
    @apply font-extrabold;
    background: linear-gradient(180deg, #555, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: max(48px, min(4vw, 76px));
    line-height: 1;
    letter-spacing: -0.05em;
  }
  .custome-heigh {
    max-height: calc(100vh - 11em);
  }
  .hero-custom {
    @apply lg:mt-44 mt-16 px-3;
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}