@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans text-[#666] font-normal;
  }
  h1 {
    @apply font-extrabold;
    background: linear-gradient(180deg, #555, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: max(48px, min(5vw, 76px));
    line-height: 1;
    letter-spacing: -0.05em;
  }
  h2 {
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: #111;
    --text-gradient: linear-gradient(180deg, #555, #000);
    background: linear-gradient(180deg, #555, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3,
  h4 {
    @apply text-base font-bold text-[#171717];
    line-height: 20px;
    letter-spacing: -0.01em;
  }
  a {
    @apply rounded-sm transition-all text-sm;
  }
  p {
    font-size: max(15px, min(2vw, 20px));
    line-height: 1.8;
    letter-spacing: -0.01em;
  }
  .text-gradient {
    @apply font-extrabold;
    background: linear-gradient(180deg, #555, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: max(48px, min(5vw, 76px));
    line-height: 1;
    letter-spacing: -0.05em;
  }
}
